<main>
   <div class="container">
     <div class="row pt-4 mb-4">
       <h4>注文履歴詳細</h4>
     </div>

     <div class="row">
       <div class="col-md-7">
        <h5>注文情報</h5>
        <table class="table table-bordered bg-light">
          <tr>
            <th class="background-color">注文日</th>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th class="background-color">配送先</th>
            <td>
              〒<%= @order.postal_code %></br>
              <%= @order.address %>
              <%= @order.name %>
              </td>
          </tr>
          <tr>
            <th class="background-color">支払い方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th class="background-color">ステータス</th>
            <td><%#= @order.order_status_i18n %></td>
          </tr>
        </table>
      </div>

      <div class="col-md-5">
        <h5>請求情報</h5>
        <table class="table table-bordered bg-light">
          <tr>
            <th class="background-color">商品合計</th>
            <td><%= @total_payment %></td>
          </tr>
          <tr>
            <th class="background-color">配送料</th>
            <td><%= @postage %></td>
          </tr>
          <tr>
            <th class="background-color">ご請求額</th>
            <td><%= @total_payment + @postage %></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 mt-5">
        <h5>注文内容</h5>
        <table class="table table-bordered bg-light">
            <th class="background-color">商品</th>
            <th class="background-color">単価（税込）</th>
            <th class="background-color">個数</th>
            <th class="background-color">小計</th>
          </tr>
          <% @order.order_items.each do |order_items| %>
          <tr>
            <td><%= order_items.item.name %></td>
            <td><%= (order_items.item.tax_out_price*1.1).to_i %></td>
            <td><%= order_items.quantity %></td>
            <td>
              <% subtotal = ((order_items.item.tax_out_price*order_items.quantity)*1.1).to_i %>
              <%= subtotal %>
            </td>
           <% end %>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>